extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        a(href=author.url) #{author.name}
          //- | (#{author.date_of_birth_formatted} - #{author.date_of_death_formatted})
          //- после использования нового фроматирования чере luxon
          | (#{ author.lifespan })
    else
      li Здесь нет авторов.


//- 1. extends layout: Указывает, что данный шаблон также расширяет шаблон layout.
//- 2. block content: Определяет блок контента, в который будет вставлен контент из этого шаблона.
//- 3. h1= title: Отображает заголовок h1 с текстом, который берется из переменной title.
//- 4. ul: Открывает маркированный список (ul).
//- 5. each author in author_list: Использует цикл each для перебора элементов в массиве author_list. Для каждого элемента будет выполнено следующее действие.
//- 6. li: Создает элемент списка (li).
//- 7. a(href=author.url) #{author.name}: Создает ссылку (a) с атрибутом href, который берется из поля url в объекте автора, и текстом ссылки, который берется из поля name в объекте автора.
//- 8. |  (#{author.date_of_birth} - #{author.date_of_death}): Выводит даты рождения и смерти автора в скобках после его имени.
//- 9. else: В случае, если массив author_list пустой, выводится следующее:
//- 10. li There are no authors.: Отображает текст "There are no authors." в виде элемента списка (li).
//- Этот шаблон создает динамический список авторов на странице, отображая информацию об авторе (имя, ссылка, даты рождения и смерти) для каждого элемента в массиве author_list. Если массив пустой, выводится сообщение о том, что авторов нет.