extends layout

block content
  h1= title

  ul
  each book in book_list
    li
      a(href=book.url) #{book.title}
      |  (#{book.author.name})

  else
    li Здесь нет книг.




//- 1. extends layout - В данной строке указывается, что данный шаблон расширяет (extends) другой шаблон с именем layout. Это позволяет использовать содержимое базового шаблона в текущем шаблоне.
//- 2. block content - С помощью этой строки мы создаем блок контента (content block), который будет заполнен в дочерних шаблонах. В этом блоке будет отображаться основное содержимое страницы.
//- 3. h1= title - Здесь отображается заголовок первого уровня (h1), который будет содержать значение переменной title. Значение переменной title будет передано в шаблон из приведенного ранее кода, где список книг был передан для отображения.
//- 4. ul - Создается элемент списка без маркеров (unordered list).
//- 5. each book in book_list - Запускается цикл each, который перебирает все элементы массива book_list и для каждого элемента выполняет указанный код.
//- 6. li - Создается элемент списка (list item).
//- 7. a(href=book.url) #{book.title} - Создается гиперссылка на страницу книги с указанным URL, и внутри данной ссылки выводится название книги book.title. Значения переменных book.url и book.title берутся из объектов книг, переданных в шаблон ранее.
//- 8. |  (#{book.author.name}) - Здесь выводится имя автора книги. Информация о авторе также берется из объектов книг, переданных в шаблон ранее.
//- 9. else - Это дополнение к циклу each. Если список книг пустой (нет книг), тогда вместо отображения книг выводится текст "There are no books." в элементе списка.
//- В данном фрагменте кода определяется структура и содержимое страницы, на которой отображается список книг. Используется шаблонизатор для более удобного и динамического создания HTML-кода на основе переданных данных.