extends layout

block content
  h1 Название: #{book.title}

  p #[strong Автор: ] 
     a(href=book.author.url) #{book.author.name}
  p #[strong Жанр: ]  
    span
      each genre, index in book.genre  
          a(href=genre.url) #{genre.name}#{index < book.genre.length - 1 ? ', ' : ''}
  p #[strong Описание:] #{book.summary}

  if bookinstance_books.length 
    p #[strong Для удаления этой книги сперва, удалите ее экземпляры.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Экземпляры книги

      dl 
      each item in bookinstance_books
        dt 
          a(href=item.url) #{item.imprint}
  
  else 

    p Вы точно хотите удалить эту книгу?

    form(method='POST' action='')
      div.form-group 
        input#id.form-control(type='hidden', name='bookid', required='true', value=book._id)
      button.btn.btn-primary(type='submit') Удалить
  