extends layout 

block content 
    h1 #{title}: #{genre.name}

    if genre_books.length 
        p #[strong Удалите следующие книги, преждче чем пытаться удалить этот жанр.]

        div(style='margin-left:20px;margin-top:20px')

            h4 Книги

            dl 
            each book in genre_books 
                dt 
                    a(href=book.url) #{book.title}
                dd #{book.summary}
    
    else 
        p Вы точно хотите удалить этот жанр?

        form(method='POST' action='')
            div.form-group
                input#genreid.form-control( type='hidden', name='genreid', required='true', value=genre._id )
            button.btn.btn-primary(type='submit') Удалить     


//- p Вы точно хотите удалить этот жанр?:

//- Создается абзац (<p>), содержащий текст "Вы точно хотите удалить этот жанр?".
//- form(method='POST' action=''):

//- Создается форма (<form>) с методом отправки POST. Атрибут action='' указывает, что форма будет отправлена на тот же URL, что и текущая страница. Обычно action указывает на маршрут, куда будут отправлены данные формы, но здесь он оставлен пустым, что означает, что форма отправится на текущий URL.
//- div.form-group:

//- Создается div элемент с классом form-group, который часто используется для группировки элементов формы в целях стилизации.
//- input#genreid.form-control(type='hidden', name='genreid', required='true', value=genre._id):

//- Создается скрытое поле ввода (<input>):
//- type='hidden' указывает, что поле не будет отображаться пользователю.
//- id='genreid' задает уникальный идентификатор для этого элемента.
//- class='form-control' добавляет к элементу класс, который часто используется в CSS-фреймворках, таких как Bootstrap, для стилизации форм.
//- name='genreid' задает имя для этого поля ввода, которое будет использовано при отправке формы.
//- required='true' делает поле обязательным для заполнения.
//- value=genre._id задает значение поля, которое будет передано при отправке формы. genre._id предполагает, что в шаблоне есть объект genre, содержащий идентификатор жанра.
//- button.btn.btn-primary(type='submit') Удалить:

//- Создается кнопка (<button>) для отправки формы:
//- type='submit' указывает, что эта кнопка отправит форму при нажатии.
//- class='btn btn-primary' добавляет классы, которые обычно используются для стилизации кнопок в CSS-фреймворках, таких как Bootstrap.
//- Текст "Удалить" будет отображаться на кнопке.
//- Этот фрагмент кода представляет собой форму для удаления жанра. Когда пользователь нажимает на кнопку "Удалить", форма отправляется с методом POST, и сервер получает запрос с полем genreid, содержащим идентификатор жанра, который нужно удалить.