extends layout

block content
  h1= title
  p Добро пожаловать в #[em LocalLibrary], очень простой веб-сайт Express, разработанный в качестве обучающего примера.

  h1 Динамический контент

  p В библиотеке имеется следующее количество записей:

  ul
    li #[strong Книги:] !{book_count}
    li #[strong Копии:] !{book_instance_count}
    li #[strong Доступные копии:] !{book_instance_available_count}
    li #[strong Авторы:] !{author_count}
    li #[strong Жанры:] !{genre_count}


//- 1. extends layout: Указывает, что данный шаблон расширяет шаблон layout, что означает, что контент этого вида будет вставлен в основной макет страницы.
//- 2. block content: Определяет блок контента, в который будет вставлен контент из этого шаблона.
//- 3. h1= title: Отображает заголовок h1 с текстом, который берется из переменной title.
//- 4. p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.: Выводит абзац с приветственным сообщением.
//- 5. h1 Dynamic content: Отображает заголовок h1 для раздела "Динамический контент".
//- 6. p The library has the following record counts:: Выводит абзац с описанием следующих данных в библиотеке.
//- 7. ul: Создает маркированный список.
//- 8. li #[strong Books:] !{book_count}: Создает элемент списка для отображения количества книг (название с жирным текстом, затем значение из переменной book_count).
//- 9. li #[strong Copies:] !{book_instance_count}: Создает элемент списка для отображения количества копий книг.
//- 10. li #[strong Copies available:] !{book_instance_available_count}: Создает элемент списка для отображения количества доступных копий книг.
//- 11. li #[strong Authors:] !{author_count}: Создает элемент списка для отображения количества авторов.
//- 12. li #[strong Genres:] !{genre_count}: Создает элемент списка для отображения количества жанров.
//- Этот шаблон позволяет вставить динамический контент, такой как количество книг, количество копий, количество авторов и т.д., на страницу вместе с общим описанием библиотеки.